/* div {
backgroud-image: "./images/HeaderImage.jpeg";
backgroud-color: red;
} */
body {
  height: 1200px;
  padding: 0px;
  margin: 0px;
}

.header {
  /* height: 100%;
	width: 100%; */
  padding-top: 100px;
  background-size: 100%;
  background-image: url('../images/coffeemain1_d1000.jpg');
  background-position: center;
  background-repeat: no-repeat;
  /* border: 2px; */
  /* background-color: red; */
  /* position: relative; */
  /* bottom: 0; */
  text-align: center;
}

.header div {
  padding: 5%;
}

.navig {
  width: 100%;
  align: center;
  position: fixed;
  top: 10px;
  text-align: center;
}

.headertext {
  position: relative;
  font-size: 60px;
  font-weight: bold;
  color: white;
  align: center;
  text-align: center;
}

.menu {
  display: flow-root;
  color: white;
}

/* .menu a{
border: 1px;
display: inline;
padding: 10px;
padding-top: 10px;
top: 10px;

} */
.menu a {
  background-color: Crimson;
  border-radius: 5px;
  border: 1px;
  border-color: black;
  color: white;
  padding: .5em;
  text-decoration: none;
  background-image: radial-gradient(Crimson, FireBrick);
}

.menu a:focus, .menu a:hover {
  /* background-color: FireBrick; */
  background-image: radial-gradient(FireBrick, Crimson);
  color: White;
}

.menu a:active {
  background-color: FireBrick;
  /* background-image: radial-gradient(FireBrick,Crimson); */
  color: White;
}

.facebook {
  font-size: 30px;
  font-weight: bold;
  font-family: arial;
  color: white;
  padding: .5em;
  text-decoration: none;
}

.facebook:focus, .facebook:hover {
  color: white;
}

#aboutUs div {
  -webkit-box-sizing: border-box;
  text-align: center;
  margin: 60px;
}

.hobbit {
  -webkit-box-sizing: border-box;
  /* border: 2px; */
  padding: 60px;
  /* text-align: center; */
  background-image: url('../images/hobbitBorder-bottomright.png'),
    url('../images/hobbitBorder-topleft.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hobbit span {
  margin: 5%;
  color: black;
  font-size: 48px;
  font-style: normal;
  font-weight: bolder;
  white-space: pre-line;
}

.lowerhobbit span {
  margin: 5%;
  color: black;
  font-size: 36px;
  font-style: normal;
  font-weight: lighter;
  white-space: pre-line;
}

.lowerhobbit1 div {
  margin: 5%;
  color: black;
  width: 50%;
  font-size: 20px;
  font-style: normal;
  font-weight: lighter;
  white-space: pre-line;
}
